<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фототехника - Избранное</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div th:insert="~{blocks/header::header}"></div>
    <div th:insert="~{blocks/main::main}"></div>
    <div th:insert="~{blocks/footer::footer}"></div>
</body>
</html>